apiVersion: v1
kind: Service
metadata:
  name: finance-service
  namespace: default
  labels:
    app: finance-service
    component: backend
spec:
  type: ClusterIP
  ports:
    - port: 5003
      targetPort: 5003
      protocol: TCP
      name: http
  selector:
    app: finance-service
---

