apiVersion: v1
kind: Service
metadata:
  name: hr-service
  namespace: default
  labels:
    app: hr-service
    component: backend
spec:
  type: ClusterIP
  ports:
    - port: 5005
      targetPort: 5005
      protocol: TCP
      name: http
  selector:
    app: hr-service
---

