apiVersion: v1
kind: Service
metadata:
  name: reporting-service
  namespace: default
  labels:
    app: reporting-service
    component: backend
spec:
  type: ClusterIP
  ports:
    - port: 8085
      targetPort: 8085
      protocol: TCP
      name: http
  selector:
    app: reporting-service
